#map {

    height: 500px;

}

#container{
    background-color: #d9f3fa;
}

.row{
    border: 1px #0080a9 solid;
    text-align: center;
    background-color: lightskyblue ;
}

#body{
    padding: 1%;
    height: 300px;
    background-color: #d9f3fa;
}

img{
    height: 40px;
    width: 60px;
}

#summary{
    font-size: small;
}

#summary1{
    font-size: small;
}

#summary2{
    font-size: small;
}



#streets{
    background-image: url(https://media.giphy.com/media/l4FGF98EYYUovuL9m/giphy.gif);
    height: 28%;
    width: 30%;
    z-index: 2;
    position: absolute;
   top: 570px;


}

#satellite{
    background-image: url(https://media.giphy.com/media/8Am0UlfiwZcgEDOy4h/giphy.gif);
    height: 28%;
    width: 30%;
    z-index: 2;
    position: absolute;
    top: 570px;
}

#box {
    display: flex;
    position: absolute;
    width: 100vw;
    background-color: transparent;
    z-index: 1;
}


