#map {

    height: 400px;
}

#container{
    background-color: #d9f3fa;
}

.row{
    border: 1px #5e7985 solid;
    text-align: center;
}

#body{
    padding: 1%;
}

img{
    height: 40px;
    width: 60px;
}

#summary{
    font-size: small;
}

#summary1{
    font-size: small;
}

#summary2{
    font-size: small;
}